<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionDatos" connectionString="Data Source=pruebasdbd.database.windows.net;Initial Catalog=PruebaSEDJulioBolano;Persist Security Info=True;User ID=juceboper;Password=Jb860612" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>